@model PrestamoLibros.Models.Sancion
@using MvcFlash.Core.Extensions

<div class="page-header">
    <h1>Editar Sanción</h1>
</div>
@Html.Flash()
<form class="producto form-horizontal" method="post" action="@Url.RouteUrl("actualizar_sancion", new { id = Model.Id })">
    <fieldset>
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="control-group">
            <label class="control-label">Alumno:</label>
            <div class="controls">
                <select class="input-xlarge" name="AlumnoId">
                    @foreach (var item in ViewBag.alumnos)
                    {
                        if (Model.AlumnoId == item.Id)
                        {
                            <option value="@item.Id" selected="selected">@item.Nombres</option>      
                        }
                        else
                        {
                            <option value="@item.Id">@item.Nombres</option>   
                        }
                    }
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Descripcion:</label>
            <div class="controls">
                <input class="input-xlarge" type="text" value="@Model.Descripcion" name="Descripcion" pattern=".{10,25}" required title="10 a 25 caracteres">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Fecha:</label>
            <div class="controls">
                <input class="input-xlarge" type="date" value="@Model.Fecha.ToString("yyyy'-'MM'-'dd")" name="Fecha">
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Actualizar</button>
            <button type="reset" class="btn">Limpiar</button>
        </div>
    </fieldset>
</form>