@model PrestamoLibros.Models.Libro
@using MvcFlash.Core.Extensions
<div class="page-header">
    <h1>Editar Libro</h1>
</div>
@Html.Flash()
<form class="producto form-horizontal" method="post" action="@Url.RouteUrl("actualizar_libro", new { id = Model.Id })">
    <fieldset>
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="control-group">
            <label class="control-label">Nombre:</label>
            <div class="controls">
                <input class="input-xlarge" type="text" value="@Model.Nombre" name="Nombre" required title="15 a 35 caracteres" pattern=".{15,35}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Autor:</label>
            <div class="controls">
                <input class="input-xlarge" type="text" value="@Model.Autor" name="Autor" required title="15 a 30 caracteres" pattern=".{15,30}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Año:</label>
            <div class="controls">
                <input class="input-xlarge" type="number" value="@Model.Anio" name="Anio" required="required"  min="1700" max="2013">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">ISBN:</label>
            <div class="controls">
                <input class="input-xlarge" type="text" value="@Model.ISBN" name="ISBN" required title="10 caracteres exactos" pattern=".{10,10}">
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Actualizar</button>
        </div>
    </fieldset>
</form>