<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header">Libros</li>
        <li><a href="@Url.RouteUrl("libros")">Listar Libros</a></li>
        <li><a href="@Url.RouteUrl("registrar_libro")">Registrar Libro</a></li>
        <li><a href="@Url.RouteUrl("ranking_por_carrera")">Ranking Libros por Carrera</a></li>
    </ul>
</div>

<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header">Alumnos</li>
        <li><a href="@Url.RouteUrl("alumnos")">Listar Alumnos</a></li>
        <li><a href="@Url.RouteUrl("registrar_alumno")">Registrar Alumno</a></li>
    </ul>
</div>

<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header">Sanciones</li>
        <li><a href="@Url.RouteUrl("sanciones")">Listar Sanciones</a></li>
        <li><a href="@Url.RouteUrl("registrar_sancion")">Registrar Sanción</a></li>
        <li><a href="@Url.RouteUrl("ranking_alumnos_sancionados")">Ranking Alumnos Sancionados</a></li>
    </ul>
</div>